---
title: "How To Setup A Network Host"
layout: 'base.njk'
---

      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h2 class="section-title">How To Setup A Network Host</h2>
        <p>This tutorial is one of the ways to setup a NLC network host.</p>
        <p>All hosting services require a open port.<br/>
        A fixed IP or DNS service is not required but for the sake of simplicity it is assumed you have a fixed IP address.<br/>
        <p>For a open port on a device whos ISP (Internet Service Provider) has blocked all incoming ports (IE. all cell data plans), You are encouraged to use a <a href="https://nolimitconnect.com/nlc/vpns">VPN</a><br/>
        <img src=" /assets/images/network-setting-fixed-ip.png" alt="" class="doc__image">
        </p>
        <p>Network Settings.<br/>
        1.) It is recommended to edit the network settings name to a appropriate name and save so that you can always switch back to the default settings if desired.<br/><br/>
        2.) It is recommended but not required to use a randomized port.<br/><br/>
        3.) Your host URL is in the format of ptop://[ip address]:[port] where ip address is your fixed ip address and the port is the same as in step 2.<br/><br/>
        4.) The network key text is used as part of the encryption scheme of all user data traffic.<br/> 
        For simplicity you can leave it as is or if you want to maximize your privacy it can be changed.<br/> 
        If you change the network key then all traffic to networks with a different key will be garbled and will be treated as a hack attack.<br/><br/>
        5.) If you have changed the network key then you should also host the connection test service.<br/>
        If the network key is not changed then you can leave as is and use the existing service.<br/>
        NOTE: Connection test service detects your IP Address as seen by the internet.<br/>
        Connection test will not work for devices within your own router network LAN (Local Area Network) if the service is hosted locally.<br/><br/>
        6.) Select Assume Users Can Connect Directly and enter your IP address in External IP.<br/>
        This setting is normally only used for users with a fixed IP address.<br/><br/>
        7.) Click Save Network Setting to save your settings.<br/><br/>
        8.) Set permission level for Network and Connection Test Hosts.<br/>
        For public use, Anonymous permission is recommended.<br/>
        For a small group of friends use, Friend permission is recommended.<br/>
        For private use such as Web Cam service for home security then Admin permission is recommended.<br/>
        <img src=" /assets/images/nlc-permissions.png" alt="" class="doc__image">



        </p>
      </div>
  </div>
</section>