---
title: "Resilience through software design"
layout: 'base.njk'
---

      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Resilience Through Software Design</h1>
        <p>Premise: Like all communication software and hardware, users of NLC are likely to do something that those with power do not like.<br/>
        Instead of going after the offenders, it takes much less effort to "Kill Off" the communication tool.</p>
        <p>There are many tools in the toolbox of the oppressor.<br/>
        1.) Buy out and suppress<br/>
        Of the many tactics, this tactic usually does the least harm.<br/>
        Software Design Tactic - Use open source.<br/>
        Open source is harder to suppress because others in less restrictive countries can rebuild and distribute the software.<br/><br/>

        2.) Isolation and blockage<br/>
        The biggest atrocities in human history have been done in communication blockouts.<br/>
        This tactic is probably as old as human history and scales well from individual coercion to cults/fanaticism to governments.<br/>
        There are many tactics that enhance this. Control the narrative. Grab attention through clickbait tactics.<br/>
        Repeat the propaganda until the masses believe it. IE I have heard/saw this from many sources so it must be true.<br/>
        Software Design Tactic - Make available free communication that is scalable from a small group to world wide.<br/>
        Design the software so any device is a potential host/communication hub.<br/><br/>

        3.) Denial of service - DNS<br/>
        DNS (Domain Name Service) is a pay for service that has two main functions.<br/>
        a. Convert human understandable name into a IP (Internet Protocol) address.<br/>
        b. If the IP address is changed then service continues because the domain to IP address<br/> 
        lookup is changed to return the changed IP address.<br/>
        A seemly favorite tactic of the oppressor is to block or remove DNS service. This often leads to a game of "wack a mole"<br/>
        where when one site is taken down then another is created with a different domain name.<br/>
        Software Design Tactic - Bypass the need for a DNS domain name where possible through direct use of IP address instead of domain name<br/>
        Software Design Tactic - Enable IPv6 support. One of the reasons your ISP (Internet Service Provider) changes your IP address is that<br/>
        IPv4 maximum addresses 4,294,967,296 (2^32) does not provide enough IP addresses for the worlds needs whereas IPv6 maximum addresses
        340,282,366,920,938,463,463,374,607,431,768,211,456 (2^128) does.<br/><br/>

        4.) Denial of service - Blocked Ports<br/>
        Hosting and direct connections from person to person requires the use of an open port for the software to accept incoming connections on.<br/>
        If your software requires a fixed (known) port then it is a simple matter to block that port from accepting connections either at the<br/>
        ISP level or the national firewall level.<br/>
        Software Design Tactic - Randomize the port for incoming connections. At minimum this increases the difficulty in blocking a particular application from accepting connections.<br/><br/>

        5.) Spy, Infiltrate and Corrupt<br/>
        There are too many tools an oppressor can use to accomplish this to even list out here.<br/>
        Software Design Tactic - Make your software VPN (Virtual Private Network) friendly and encourage users to use a <a href="https://nolimitconnect.com/nlc/vpns">VPN</a>.<br/><br/>

        6.) Denial of service - App Store<br/>
        A recent tool added to the oppressor's toolbox.<br/>
        Remove a application from the app stores such as Android Play Store, Microsoft Store, etc. and you remove most of the ability to distribute an application.<br/>
        Software Design Tactic - Make your software easy to build and available for multiple operating systems.<br/>
        Linux distributions seem especially resistant to oppression.<br/><br/>












      </div>
  </div>
</section>