---
title: "NLC - No Limit Connect - Information "
layout: 'base.njk'
---

      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">NLC (No Limit Connect) - Privacy Policy</h1>
<br>
          <p>Contact details:</p>
          <p>Name: Brett Jones</p> 
          <p>Address: None given</p>
          <p>Phone Number:  None given</p>
          <p>E-mail: bjones.engineer@gmail.com</p>
<br>          
          <p>The type of personal information we collect:</p>
          <p>No personal identifiers are collected or used.</p>
          <p>No log files are kept.</p>
          <p>To avoid even the possibility of data collection and you need to contact the author of No Limit Connect then </p>
          <p>it is recommended to create a separate gmail account just for testing feedback, complaint and/or suggestions to the author</p>
          <p>In the future there may be a database of IP address that hacks have been attempted from.</p>
<br>


          <p>How we get the personal information and why we have it: Not applicable</p>
      </div>
  </div>
</section>

