---
title: "Donate to No Limit Connect author"
layout: 'base.njk'
---

      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Donate</h1>
        <p>Donate page will be enabled when No Limit Connect is publicaly available. No Limit Connect is still in the develop and debug stage</p>
        <p>Source code for No Limit Connect is open source and available on GitLab</p>
        <p><a href="https://gitlab.com/nolimitconnectapps/nolimitapp">https://gitlab.com/nolimitconnectapps/nolimitapp</a></p>

      </div>
  </div>
</section>


