---
title: "Donate to No Limit Connect author"
layout: 'base.njk'
---

      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Donate</h1>
        <p>If you are interested in dual licensing or sponsoring No Limit Connect you can contact the author of No Limit Connect, Brett R. Jones through email bjones.engineer@gmail.com</p>
        <p>If you want to donate to the author you can use the PayPal link</p>
        <p><a href="https://www.paypal.com/donate/?hosted_button_id=NSZVBSZX6LWTG">Brett R. Jones PayPal Donation</a></p>

      </div>
  </div>
</section>


